<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Bespoke Options' } %>

<div class="well">
  <fieldset>
    <legend>Add Bespoke Option Type</legend>

    <%= form_for @bespoke_option_type, url: admin_product_bespoke_option_type_path(@product, @bespoke_option_type) do |f| %>
      <%= f.field_container :name, :class => ['form-group'] do %>
        <%= f.label :name, 'Name *' %>
        <%= f.text_field :name, :class => 'form-control' %>
      <% end %>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'ok', 'submit', {class: 'btn-success'} %>
      </div>
    <% end %>
  </fieldset>
</div>

<div class="clearfix">
  <%= button_link_to 'New Option Value', new_admin_product_bespoke_option_type_bespoke_option_value_path(@product, @bespoke_option_type), class: "btn-success pull-right", icon: 'add' %>
</div>

<table class="table sortable" id='listing_bespoke_option_values' data-sortable-link="<%= update_positions_admin_product_bespoke_option_type_bespoke_option_values_path(@product, @bespoke_option_type) %>" data-hook>
  <thead>
    <tr data-hook="bespoke_options_header">
      <th colspan="2">Image</th>
      <th>Name</th>
      <th>Price Modidifer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @bespoke_option_type.option_values.each do |bov|
    @edit_url = edit_admin_product_bespoke_option_type_bespoke_option_value_path(@product, @bespoke_option_type, bov)
    @delete_url = admin_product_bespoke_option_type_bespoke_option_value_path(@product, @bespoke_option_type, bov) 
  %>
    <tr id="<%= spree_dom_id bov %>" data-hook="tax_row">
      <td class="move-handle text-center">
        <span class="icon icon-move handle"></span>
      </td>
      <td>
        <%= image_tag bov.image.url, width: 50 if bov.image.present? %>
      </td>
      <td><%= link_to bov.name, @edit_url %></td>
      <td>
        <% bov_price = bov.price_in(Spree::Config['currency']) %>
        <% if bov.price_modifier_type == 'flat_rate' %>
          <%= bov_price.money.to_html %>
        <% else %>
          <%= number_to_percentage bov_price.amount, precision: 2 %>
        <% end %>
      </td>
      <td class="actions actions-2 text-right">
        <%= link_to_edit(bov, url: @edit_url, no_text: true) if can? :edit, bov %>
        <%= link_to_delete(bov, url: @delete_url, no_text: true) if can? :delete, bov %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
